@import "variables";

.button {
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  width: auto;
  font-family: $font-stack;
  font-weight: bold;
  color: $default-color;
  white-space: nowrap;
  border-style: outset;
  border-width: 4px;
  &:disabled {
    background-color: $layout-secondary-color;
    border-color: #0F1729;
  }
}

.button--big {
  padding: 1rem 2rem 1rem 2rem;
  font-size: large;
}

.button--primary {
  background-color: $primary-color;
  color: $primary-font-color;
}