@import "variables";

.button {
	padding: 0.5rem;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	width: auto;
	font-family: $font-stack;
	font-weight: bold;
	font-size: larger;
	background-color: $action-color;
	color: $default-color;
	white-space: nowrap;
	&:disabled {
		background-color: $layout-secondary-color;
		border-color: #0f1729;
	}
	&:hover {
		background-color: $action-color-lighter;
	}
	border: 0;
	-webkit-box-shadow: 11px 11px 8px -12px rgba(0, 0, 0, 1);
	-moz-box-shadow: 11px 11px 8px -12px rgba(0, 0, 0, 1);
	box-shadow: 11px 11px 8px -12px rgba(0, 0, 0, 1);
}

.button--big {
	padding: 1rem 2rem 1rem 2rem;
	font-size: x-large;
}

.button--modal {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	&:hover {
		background-color: $primary-color;
	}
}

.button-secondary {
	background-color: $secondary-color;
	color: $primary-font-color;
}

.button-round-ghost {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 0.5rem;
	border: none;
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
}

.button-round-ghost--close {
	position: absolute;
	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.button-round-ghost--remove {
	z-index: 30;
	border: 2px solid $default-color;
	&:hover {
		background-color: rgba(211, 17, 17, 0.4);
	}
}
.loading {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading--topspace {
	padding-top: 20rem;
}

.loading__Spinner {
	border-radius: 50%;
	border: 14px solid $layout-secondary-color-lightest;
	border-top-color: $primary-color;
	width: 4rem;
	height: 4rem;
	animation: spin 0.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
