$font-stack: Inter, sans-serif;

$layout-main-color: #0F1729;
$layout-secondary-color: #1d283a;
$layout-secondary-color-light: #243146;
$layout-secondary-color-lighter: #2e3e56;
$layout-secondary-color-lightest: #3d4f6b;


$primary-font-color: #C9CACF;
$secondary-font-color: #525B68;

$default-color: #05080F;
$info-color: #0ca6e9;
$primary-color: #3abff8;
$success-color: #2bd4bd;
$secondary-color: #828df8;
$warning-color: #f4c152;
$accent-color: #f471b5;
$error-color: #fb6f84;

$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1024px;
$extra-large-screen: 1280px;