$font-stack: Inter, sans-serif;

$layout-main-color: #1b2454;
$layout-main-color-light: #1d295b;
$layout-main-color-lighter: #27238d;
$layout-main-color-lightest: rgba(60, 34, 176, 0.7);

$layout-secondary-color: #1d283a;
$layout-secondary-color-light: #243146;
$layout-secondary-color-lighter: #2e3e56;
$layout-secondary-color-lightest: #3d4f6b;

$primary-font-color: #c9cacf;
$secondary-font-color: #525b68;

$default-color: rgba(5, 8, 15, 0.8);
$info-color: #0ca6e9;
$primary-color: #3abff8;
$action-color: #14f5d6;
$action-color-lighter: #58f8e3;
$action-color-darker: #0e9f8a;
$secondary-color: rgba(130, 141, 248, 0.2);
$warning-color: #f4c152;
$complementary-color: #f1b51d;
$complementary-color-lighter: #ffce53;
$error-color: #fb6f84;

$extra-small-screen: 480px;
$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1024px;
$extra-large-screen: 1280px;
