@import "../../styles/global/variables.scss";

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-box {
	position: relative;
	background-color: $layout-secondary-color;
	border-radius: 5px;
	width: 40%;
	height: 80%;
	@media (max-width: $extra-large-screen) {
		width: 50%;
		height: 80%;
	}
	@media (max-width: $large-screen) {
		width: 60%;
		height: 80%;
	}
	@media (max-width: $medium-screen) {
		width: 70%;
		height: 80%;
	}
	@media (max-width: $small-screen) {
		width: 80%;
		height: 90%;
	}
	@media (max-width: $extra-small-screen) {
		width: 90%;
		height: 90%;
	}
	display: flex;
	flex-direction: column;
	overflow: auto;
	&__image {
		border-radius: 5px 5px 0 0;
		object-fit: cover;
		width: 100%;
		max-height: 50%;
	}
}

.modal-box-content {
	transition: all 0.3s ease;
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-grow: 1;
}
.modal-box-content__button-wrapper {
	position: sticky;
	transition: all 0.3s ease;
	display: flex;
	width: 8rem;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	margin: 0.5rem;
}

.modal-box-content-info {
	transition: all 0.3s ease;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.modal-box-content-info__paragraph {
	transition: all 0.3s ease;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
}

.modal-box-content-info__separator {
	width: 100%;
	border-top: 2px solid $primary-color;
	border-radius: 3px;
}
